@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.sunrise-bg {
  width: 350px;
  padding: 1rem;
  margin: 0 auto;
}

.sunrise-txt {
  color: rgb(186, 188, 198);
  font-family: "Roboto Mono", monoserif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 190%;
  text-align: justify;
  text-transform: lowercase;
}

.sunrise-txt ul{
  padding: 0;
  margin: 10px;
  list-style-type: "";
}

.sunrise-txt li{
  padding: 0;
  margin: 0;
}

.sunrise-txt i{
  color: rgb(161, 94, 149);
}

.sunrise-txt b{
  font-size:12.5px;
  font-weight: 700;
  color: rgb(63, 122, 141);
}

.sunrise-txt h2{
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: rgb(106, 110, 146);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.sunrise-txt star{
  color: rgb(106, 110, 146);
  font-size: 12px;
  padding: 0.25rem;
}
